@font-face {
  font-family: "ShangguSerifBold";
  src: url("../font/ShangguSerifSC/ShangguSerifSC-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "ShangguSerif";
  src: url("../font/ShangguSerifSC/ShangguSerifSC-Regular.ttf")
    format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "JudouSansHans";
  src: url("../font/JudouSans-TTF-Hans/JudouSansHans-Regular.ttf")
    format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "JudouSansHansBold";
  src: url("../font/JudouSans-TTF-Hans/JudouSansHans-Bold.ttf")
    format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "JudouSansHansItalic";
  src: url("../font/JudouSans-TTF-Hans/JudouSansHans-Italic.ttf")
    format("truetype");
  font-display: swap;
}

@media (max-width: 600px) {
  .topbar-nav {
    display: none;
  }
  .topbar-title {
    font-size: 16px;
  }
}

/* {
  border: 1px solid red;
}*/

body {
  margin: 0;
  padding: 0;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background-color: rgb(26, 26, 26);
}

a {
  display: flex;
  text-decoration: none;
  gap: 20px;
}

.txt {
  flex-direction: row;
  align-self: center;
  align-items: center;
  color: rgb(255, 240, 249);
  font-size: 20px;
  font-family: "JudouSansHans", serif;
  display: flex;
  margin: 20px;
  margin-top: 0;
  height: auto;
  padding: 20px;
  width: 700px;
  line-height: 1.8;
  text-indent: 2em;
}

.ttl {
  display: flex;
  align-self: center;
  align-items: center;
  font-size: 32px;
  font-family: "JudouSansHansBold", serif;
  color: rgb(255, 240, 249);
  margin: 16px;
  margin-bottom: 0;
  padding: 20px;
  width: 700px;
}

.qt {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  margin: 16px;
  margin-bottom: 0;
  padding: 20px;
  width: 700px;
  border: 2px solid rgb(121, 121, 121);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.qtp {
  display: flex;
  align-self: center;
  font-size: 16px;
  font-weight: 122;
  font-family: "JudouSansHansItalic", serif;
  color: rgb(121, 121, 121);
  line-height: 1.5;
  text-indent: 2em;
}

.qtsrc {
  display: flex;
  align-self: flex-end;
  font-size: 16px;
  font-weight: 122;
  font-family: "JudouSansHansItalic", serif;
  color: rgb(121, 121, 121);
  line-height: 1.5;
}

.emj {
  display: flex;
  height: 80px;
  width: 750px;
  position: absolute;
  bottom: -30px;
  font-size: 75px;
  font-weight: 233;
  font-family: "ShangguSerif", serif;
  color: rgb(255, 240, 249);
  align-items: center;
  align-self: center;
  text-shadow: 0px -2px 8px rgba(0, 0, 0, 0.5);
}

.image-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  margin: 0;
  margin-bottom: 75px;
  padding: 0;
  width: 100%;
  height: 500px;
  position: relative;
  background-image: url(../img/Wall.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 -8px 16px -6px rgba(0, 0, 0, 0.75);
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  background: rgba(0, 0, 0, 0.625);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  display: flex;
  align-items: center;
  z-index: 1000;
}

.topbar::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -16px;
  height: 16px;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.42) 6%,
    rgba(0, 0, 0, 0.33) 14%,
    rgba(0, 0, 0, 0.25) 24%,
    rgba(0, 0, 0, 0.18) 35%,
    rgba(0, 0, 0, 0.12) 46%,
    rgba(0, 0, 0, 0.07) 58%,
    rgba(0, 0, 0, 0.03) 70%,
    rgba(0, 0, 0, 0.01) 82%,
    transparent 100%
  );
}

.topbar-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.topbar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.topbar-logo {
  display: flex;
  margin-left: 8px;
}

.topbar-title {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 233;
  font-family: "ShangguSerif", serif;
  color: rgb(255, 240, 249);
}

.topbar-nav {
  margin-left: auto;
  margin-right: 18px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  font-family: "ShangguSerif", serif;
  font-weight: 122;
}

.topbar-nav a {
  color: rgb(255, 240, 249);
  text-decoration: none;
  margin-left: 16px;
  font-size: 20px;
  transition: color 0.15s;
}

.topbar-nav a:hover {
  color: rgb(184, 205, 255);
}
