@font-face {
  font-family: "ShangguSerif";
  src: url("../font/ShangguSerifSC/ShangguSerifSC-Bold.ttf") format("truetype");
}

.image-main {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
  height: 300px;
  font-size: 32px;
  font-family: "ShnagguSerif", serif;
  color: rgb(255, 240, 249);
  backdrop-filter: blur(10px);
  background-image: url(../img/Wall.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  backdrop-filter: blur(10px);
  color: rgb(255, 240, 249);
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 20px;
  height: auto;
  padding: 20px;
  border-radius: 12px;
  width: 200px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background-color: rgb(27, 46, 83);
}

a {
  display: flex;
  text-decoration: none;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  background: rgba(0, 0, 0, 0.534);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(25px);
  display: flex;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.75);
}

.topbar-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.topbar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  flex: 1;
}

.topbar-logo {
  display: block;
  border-radius: 6px;
}

.topbar-title {
  font-weight: 800;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  padding: 0px;
  font-size: 32px;
  font-family: "ShnagguSerif", serif;
  color: rgb(255, 240, 249);
  margin: 0;
  text-decoration: none;
}

.topbar-nav {
  margin-left: auto;
  margin-right: 18px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  font-family: "ShnagguSerif", serif;
  font-weight: 600;
}

.topbar-nav a {
  color: rgb(255, 240, 249);
  text-decoration: none;
  margin-left: 16px;
  font-size: 20px;
  transition: color 0.15s;
}

.topbar-nav a:hover {
  color: rgb(184, 205, 255);
}

@media (max-width: 600px) {
  .topbar-nav {
    display: none;
  }
  .topbar-title {
    font-size: 16px;
  }
}
